body {
    padding: 0;
    margin: 0;
}

.vu__average {
    transition: none;
}

.vu__peak {
    transition: none;
    visibility: visible;
}
.vu__peak .mdc-linear-progress__bar-inner {
    border-color: orange;
}

.vu__peak.vu__peak--clipping .mdc-linear-progress__bar-inner {
    border-color: red;

}

.vu {
    display: flex;
    flex-direction: row;
    align-items: center;
    height: 40px;
}

.vu__label {
    flex: 1 0 100px;
    text-align: right;
    padding-right: 1em;
    margin: 0;
}

.u-py0 {
    padding-top: 0;
    padding-bottom: 0;
}

.channel-group {
    padding-bottom: 0px;
    padding-top: 0;
    align-items: center;
    width: 100%;
}

.outopts {
    display: flex;
    flex-direction: row;
    align-items: center;
}

.outopts__label {
    flex: 0 0 40px;
    text-align: right;
    padding-right: 1em;
}

.outopts__control {
    flex: 1 1 auto;
}

.channel-control {
    align-items: center;
    display: flex;
    height: 40px;
}
.channel-control :first-child {
    flex: 0 0 auto;
}

.channel-control :nth-child(2) {
    flex: 2 1 auto;
    margin-right: 20px;
}

.channel-control :last-child {
    flex: 1 2 auto;
}

.mix-control {
    align-items: center;
    display: flex;
    height: 80px;
}

.mix-control__link {
    flex: 0 0 auto;
    /* margin-right: 20px; */
}

.mix-control__controls {
    flex: 1 1 auto;
}

.option-switches {
    width: 100%;
    display: flex;
    flex-direction:row;
    align-items: center;
    justify-content: space-around;
    align-content: stretch;
}

.option-switches__option {
    padding: 10px 20px;
    justify-items: center;
}

.option-switches__option .mdc-switch,
.option-switches__option .material-icons {
    padding-right: 10px;
    vertical-align: middle;
}

.container {
    flex: 1 1 auto;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
    align-content: stretch;
}

.divider {
    margin: 0;
}

.vu__meter {
    position: relative;
    width: 100%;
    height: 22px;
}

.vu__scale {
    position: absolute;
    width: 100%;
    height: 22px;
}

.vu__scale > div {
    position: absolute;
    white-space: nowrap;
    padding-left: 2px;
    border-left: 1px solid #e6e6e6;
    padding-top: 2px;
    font-size: 11px;
}


.slider {
    position: relative;
    width: 100%;
}

.slider__scale {
    position: absolute;
    width: 100%;
    top: 24px;
    height: 20px;
}

.slider__scale > div {
    position: absolute;
    white-space: nowrap;
    padding-left: 2px;
    border-left: 1px solid #e6e6e6;
    padding-top: 2px;
    font-size: 11px;
}

.slider__current-value {
    position: absolute;
    width: 100%;
}

.slider__current-value > div {
    position: absolute;
    white-space: nowrap;
    padding-top: 2px;
    font-size: 11px;
}

.spinner__container {
    position:absolute;
    top: 50%;
    width: 80%;
    left: 10%;
}

.header {
    position: relative;
    flex:  0 0 auto;
}

html {
    height: 100%;
    width: 100%;
}

body {
    height: 100%;
    width: 100%;
    display: flex;
    flex-direction: column;
}

:root {
    --mdc-theme-primary: #0f52ba;
    --mdc-theme-secondary: #0f52ba;
}
input[type="number"]::-webkit-outer-spin-button,
input[type="number"]::-webkit-inner-spin-button {
    -webkit-appearance: none;
    margin: 0;
    color:red;
}
input{
    -moz-appearance: textfield;
    color:red !important;
}
