.vu__average {
    transition: 100ms 0ms ease;
}
.vu__peak {
    transition: none;
    visibility: visible;
}
.vu__peak .mdc-linear-progress__bar-inner {
    background-color: orange;
}

.vu {
    display: flex;
    flex-direction: row;
    align-items: center;
}

.vu__label {
    flex: 1 0 100px;
}
